@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: linear-gradient(to right, #000000, #384549);
    color: white;
    padding: 60px 0;
}
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}
.content-section {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
h2 {
    color: #007bff;
}
.carousel-item img {
    height: 100%;
    object-fit: cover;
}
.btn-custom {
    background-color: #007bff;
    color: white;
}
.btn-custom:hover {
    background-color: #0056b3;
    color: white;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: 10px auto;
    font-size: 18px;
}
.box-icons i{
    font-size: 40px;
}
.box-icons h3{
    font-size: 20px;
    font-weight: 800;
}
.Mejores{
    padding: 30px 0;
}
.card img{
    width: 150px;
    height: 150px;
}
.banner{
    padding: 50px 0;
    margin-bottom: 80px;
    background-color: #eae5df;
}
.banner h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
}
.banner img{
    width: 300px;
}
.image-container {
    width: 100%;
    height: 700px; 
    margin: 0 auto; 
    overflow: hidden; 
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bil90 {
    background: linear-gradient(to right, #000000, #384549);
    color: white;
    padding: 1px 0;
}
.video-section .btn {
    display: block;
    margin: auto auto;
    padding: 10px 20px;
    font-size: auto;
    background-color: #000;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.video-section .btn:hover {
    transform: scale(1.1);
}
.video-section {
    text-align: center;
    margin: 20px 0;
}
.video-section video {
    max-width: 100%;
    height: auto;
}
.bg-black{
    width: 100%;
    text-align: center;
}

